.home {
    display: flex;
    flex-direction: row;
  
    /* height: 100vh; */
  }

  
  .left-home {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -50px;
  }
  
  .left-home img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .right-home {
    flex: 1;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .headheading{
      font-size: 3rem;
  }
  .right-home h2 {
    margin-bottom: 4rem;
  }
  
  .right-home form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 70%;
  }
  
  .form-row {
    display: contents;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .form-group-2 {
    grid-column: span 2;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .right-home button {
    grid-column: span 2;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(17, 10, 10);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  
  .right-home button:hover {
    background-color: #0056b3;
  }


 
  @media (max-width: 768px) {
    .home {
      flex-direction: column;
    }
  
    .right-home form {
      grid-template-columns: 1fr;
      width: 100%;
    }
  
    .right-home {
      grid-column: span 1;
    }

  }
  